#gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    flex-basis: auto;
    justify-content: left;
    /*height: 500px;*/
    background: #f0f0f0;
    overflow: hidden;
}

#galleryPanel ul li{
   /* display: flex;*/
}

#galleryPanel .nav{
    position: absolute;
    top:0;
    bottom: 0;
    width: 28px;
    background: yellow;
    height: 100%;
}

li{
    list-style:none;
}

.video{
    margin: 0 10px;
    overflow: hidden;
}

#galleryPanel{
    display: block;
}

/*@media screen and (min-width: 50em){
    .video {
        width: calc(20% - 6px);
    }
}

@media screen and (min-width: 10em ){
    .video {
        width: calc(25% - 6px);
    }
}*/

.videoFrame{
    margin:0;
    overflow: hidden;
    width: 150px;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



.video span{
    margin-top: 15px;
}

.video:hover img {
    transform: scale(1.05);
}

.video img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
}

#frames{
    height: 150px;
    background: #eeffff;

    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    flex-basis: auto;
    justify-content: left;
}

#thumbnails{
    height: 150px;
    background: #ffffee;
}
















