#gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    flex-basis: auto;
    justify-content: left;
    background: #f0f0f0;
    overflow: hidden;
    padding: 0 30px;
}


.nav-left, .nav-right {
    position: absolute;
    width: 28px;
    /*background: red;*/
    height: 100%;
    background-color: yellow;
    cursor: pointer;
    /*background:  url(http://pocasi.seznam.cz/img/hp-large/jihlava/winter/6.jpg) no-repeat;*/
}



.nav-left{
    left:0;
    background-image:  url(../img/nav.png) ;
    background-repeat: no-repeat;
    background-position:  -20% 50%;

}
.nav-right{
    right: 0;
    background-image: url(../img/nav.png);
    background-repeat: no-repeat;
    background-position:   115% 50%;
}

li{
    list-style:none;
}

.video{
    margin: 0 10px;
    overflow: hidden;
}

#galleryPanel{
    display: block;
    position: relative;
}

/*@media screen and (min-width: 50em){
    .video {
        width: calc(20% - 6px);
    }
}

@media screen and (min-width: 10em ){
    .video {
        width: calc(25% - 6px);
    }
}*/

.videoFrame{
    margin:0;
    overflow: hidden;
    width: 150px;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}



.video span{
    margin-top: 15px;
}

.video:hover img {
    transform: scale(1.05);
}

.video img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
}

#frames{
    height: 150px;
    background: #eeffff;

    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    flex-basis: auto;
    justify-content: left;
}

#thumbnails{
    height: 150px;
    background: #ffffee;
}
















