<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Index page</title>
</head>
<body>
<h3>User index page</h3>
</body>
<p>list of items (<span th:text="${#lists.size(users)}"></span>):</p>

<ul th:each="user : ${users}">
    <li><span th:text="${user.id}"/>&nbsp;<span th:text="${user.name}"/></li>
</ul>
<p>
    <strong>Time:&nbsp;
        <span th:text="${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm ss')}"></span>
    </strong>
</p>
</html>